body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.container-fluid {
    padding: 3% 5%;
    position: relative;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4rem;    
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 16px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}


/* Download Buttons */

.download-btn {
    margin: 2% 1% 0;
}

/* Title image */

.title-image {
    transform: rotate(25deg);
    width: 15rem;
    margin-top: 35px;
}

.d-flex {
    justify-content: center;
}

/* Features */

.features-div {
    padding: 50px;
}

.feature-col {
    text-align: center;
    padding: 2% 3% 6%;
}

.features-icon-color {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon-color:hover {
    color: #ff4c68;
}

.p-features {
    color: #8f8f8f;
    line-height: 1.5;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#carousel {
    padding: 7% 15%;
}

.h2-testimonials {
    margin-bottom: 5%;
}

.testimonial-img {
    width: 20%;
    border-radius: 100%;
}

/* Press Section */

#press {
    text-align: center;
    background-color: #ef8172;
    padding: 0 5% 7%;
}

.press-logo {
    width: 15%;
}

.h2-press {
    color: #fff;
    margin-bottom: 5%;
}


.press-carousel-div {
    height: 40px;
}
